@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  -webkit-tap-highlight-color: transparent;
  background-color: #faf9f8;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}